[flake8]
show-source = True
statistics = False
doctests = True

# Plugins:
max-complexity = 6
max-line-length = 79
# Plugin: flake8-typing-imports
min_python_version = 3.8

ignore =
    W503,  # Line break occurred before a binary operator

# Excluding some directories:
exclude =
    .git,
    __pycache__,
    .tox,
    .venv,
    doc,
    .eggs,
    *.egg,
    build,
    dist,
