exclude .bumpversion.cfg
exclude .coveragerc
exclude .darglint
exclude .env
exclude .flake8
exclude .gitignore
exclude .gitlint
exclude .isort
exclude .pre-commit-config.yaml
exclude .prettierrc.yaml
exclude .pydocstyle.ini
exclude .pylintrc
exclude requirements-dev.txt
exclude tox.ini
include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
recursive-exclude .github *
recursive-exclude .idea *
recursive-exclude scripts *.py
recursive-exclude src .pydocstyle.ini
recursive-exclude tests *
recursive-include src *.typed
